{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** SCRIPTS *** #}
{# ****************************************************************************************************************** #}
{% block scripts %}
    {% if Constants.small_pies == True or Constants.large_pies == True %}
        <script>
            num_choices = {{ Constants.num_choices|json }};
            lottery_a_hi = "{{ lottery_a_hi }}";
            lottery_a_lo = "{{ lottery_a_lo }}";
            lottery_b_hi = "{{ lottery_b_hi }}";
            lottery_b_lo = "{{ lottery_b_lo }}";
            index_to_pay = {{  index_to_pay|json }};
            payoff = {{  payoff|json }};
            one_choice = "{{ Constants.one_choice_per_page }}";
            percentage = "{{ Constants.percentage }}";
            large_pies = "{{ Constants.large_pies }}";
            console.log("Index to pay: " + index_to_pay);
            console.log("payoff: " + payoff);
            WheelTime = "{{ 5000 }}";
            wheel_2nd = "{{ wheel_show|json }}";
        </script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="{% static 'mpl/js/pie_charts.js' %}"></script>
    {% endif %}


{% endblock %}

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Wheel" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

        <div class="instructions_wheel">

        <p>
              Press the spin button in the middle of the wheel to spin the wheel.
        </p>


    </div>

    <div class="scripts">
            <p>

<html>
<head>
    <meta charset="utf-8">
    <title>Wheel of Fortune Bingo</title>
    <style type='mpl/css/custom.css' >
    text{
        font-family:Helvetica, Arial, sans-serif;
        font-size:11px;
        pointer-events:none;
    }
    #chart{
        position:center;
        width:500px;
        height:500px;
        top:0;
        left:0;
    }
    #question{
        position: center;
        width:200px;
        height:100px;
        top:0;
        left:520px;
    }
    #question h1{
        font-size: 50px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        padding: 0px;
        margin: 0;
        top:50%;
        -webkit-transform:translate(0,-50%);
                transform:translate(0,-50%);
    }
    </style>

</head>
<body>

<div id="chart"></div>
<div id="question"><h1></h1></div>

<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var index_to_pay = {{  index_to_pay|json }};
    var payoff = {{  payoff|json }};
    var wheel_2nd = {{  wheel_show|json }};
        var padding = {top:20, right:40, bottom:0, left:0},
            w = 1000 - padding.left - padding.right,
            h = 500 - padding.top  - padding.bottom,
            r = Math.min(w, h)/2,
            rotation = 0,
            oldrotation = 0,
            picked = 100000,
            oldpick = [],
            color = d3.scale.category20();
       //     index_to_pay = 1;
      //  payoff = 3.85;
        var data = [
                    {"label":"Row 1",  "value":1,  "question":"Row 1"}, // padding
                    {"label":"Row 2",  "value":1,  "question":"Row 2"}, //font-family
                    {"label":"Row 3",  "value":1,  "question":"Row 3"}, //color
                    {"label":"Row 4",  "value":1,  "question":"Row 4"}, //font-weight
                    {"label":"Row 5",  "value":1,  "question":"Row 5"}, //font-size
                    {"label":"Row 6",  "value":1,  "question":"Row 6"}, //background-color
                    {"label":"Row 7",  "value":1,  "question":"Row 7"}, //nesting
                    {"label":"Row 8",  "value":1,  "question":"Row 8"}, //bottom
                    {"label":"Row 9",  "value":1,  "question":"Row 9"},
                    {"label":"Row 10",  "value":1,  "question":"Row 10"}
        ];
        if(wheel_2nd == true)
        {

            if(index_to_pay == 1)
                data = [
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$3.85",  "value":1,  "question":"$3.85"} //font-family
            ];
            else if(index_to_pay == 2)
                data = [
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"} //font-family
            ];
            else if(index_to_pay == 3)
                data = [
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"} //font-family
            ];
            else if(index_to_pay == 4)
                data = [
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"} //font-family
            ];
            else if(index_to_pay == 5)
                data = [
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"} //font-family
            ];
            else if(index_to_pay == 6)
                data = [
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"} //font-family
            ];
            else if(index_to_pay == 7)
                data = [
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"} //font-family
            ];
            else if(index_to_pay == 8)
                data = [
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"} //font-family
            ];
            else if(index_to_pay == 9)
                data = [
                    {"label":"$0.10",  "value":1,  "question":"$0.10"}, // padding
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"} //font-family
            ];
            else if(index_to_pay == 10)
                data = [
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"}, //font-family
                    {"label":"$3.85",  "value":1,  "question":"$3.85"} //font-family
            ];
            //data = [ //just write only one number
              //      {"label":"$0.10",  "value":10 - index_to_pay,  "question":"$0.10"}, // padding
             ///       {"label":"$3.85",  "value":index_to_pay,  "question":"$3.85"} //font-family
            //];
        }

        var svg = d3.select('#chart')
            .append("svg")
            .data([data])
            .style({"font-weight":"bold", "font-size":"24px"})
            .attr("width",  w + padding.left + padding.right)
            .attr("height", h + padding.top + padding.bottom);
        var container = svg.append("g")
            .attr("class", "chartholder")
            .attr("transform", "translate(" + (w/2 + padding.left) + "," + (h/2 + padding.top) + ")");
        var vis = container
            .append("g");

        var pie = d3.layout.pie().sort(null).value(function(d){return d.value;});
        // declare an arc generator function
        var arc = d3.svg.arc().outerRadius(r);
        // select paths, use arc generator to draw
        var arcs = vis.selectAll("g.slice")
            .data(pie)
            .enter()
            .append("g")
            .attr("class", "slice");

        if(wheel_2nd == true)
        {
            if(index_to_pay == 1)
            {
            var color = d3.scale.category20()
                .domain(data)
                .range(["#abcfff", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7"])
            }
            else if(index_to_pay == 2) {
                var color = d3.scale.category20()
                    .domain(data)
                    .range(["#abcfff", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#abcfff"])
            }
            else if(index_to_pay == 3) {
                var color = d3.scale.category20()
                    .domain(data)
                    .range(["#abcfff", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#abcfff", "#abcfff"])
            }
            else if(index_to_pay == 4) {
                var color = d3.scale.category20()
                    .domain(data)
                    .range(["#abcfff", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#abcfff", "#abcfff", "#abcfff"])
            }
            else if(index_to_pay == 5) {
                var color = d3.scale.category20()
                    .domain(data)
                    .range(["#abcfff", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#abcfff", "#abcfff", "#abcfff", "#abcfff"])
            }
            else if(index_to_pay == 6) {
                var color = d3.scale.category20()
                    .domain(data)
                    .range(["#abcfff", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff"])
            }
            else if(index_to_pay == 7) {
                var color = d3.scale.category20()
                    .domain(data)
                    .range(["#abcfff", "#c7c7c7", "#c7c7c7", "#c7c7c7", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff"])
            }
            else if(index_to_pay == 8) {
                var color = d3.scale.category20()
                    .domain(data)
                    .range(["#abcfff", "#c7c7c7", "#c7c7c7", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff"])
            }
            else if(index_to_pay == 9) {
                var color = d3.scale.category20()
                    .domain(data)
                    .range(["#abcfff", "#c7c7c7", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff"])
            }
            else if(index_to_pay == 10) {
                var color = d3.scale.category20()
                    .domain(data)
                    .range(["#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff", "#abcfff"])
            }

        }
        arcs.append("path")
            .attr("fill", function(d, i){ return color(i); })
              .attr("stroke", "black")
  .style("stroke-width", "2px")
  .style("opacity", 1.0)
            .attr("d", function (d) { return arc(d); });
        // add the text
        arcs.append("text").attr("transform", function(d){
                d.innerRadius = 0;
                d.outerRadius = r;
                d.angle = (d.startAngle + d.endAngle)/2;
                return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")translate(" + (d.outerRadius -10) +")";
            })
            .attr("text-anchor", "end")
            .text( function(d, i) {
                return data[i].label;
            });
        container.on("click", spin);
        function spin(d){
            container.on("click", null);
            //all slices have been seen, all done
            console.log("OldPick: " + oldpick.length, "Data length: " + data.length);
            if(oldpick.length == data.length){
                console.log("done");
                container.on("click", null);
                return;
            }
            var index_to_pay = {{  index_to_pay|json }};
            var wheel_2nd = {{  wheel_show|json }};
            var payoff = {{  payoff|json }};

            var  ps       = 360/data.length,
                 pieslice = Math.round(1440/data.length),
                 rng      = 1470 - (index_to_pay * 36);



      //  index_to_pay = 1;
      //  payoff = 3.85;
        console.log("wheel real:" + wheel_2nd);
            console.log("index_to_pay real:" + index_to_pay);
            console.log("payoff real:" + payoff);
            if(wheel_2nd == true)
            {
                console.log("payoff real:" + payoff);
                if(payoff == 0.1)
                {
               //     console.log("bomb");
                    // x rng      =  Math.floor(2160+ 270 +(18 * index_to_pay)); //only one number
                    rng      =  Math.floor(  720 + (36 * (index_to_pay + 1)));
                }
                else
                {
                    // x rng      =  Math.floor(2160+ 90 + (18 * index_to_pay)); //only one number
                    if( index_to_pay % 2 == 0)
                    {
                        rng      =  Math.floor(  720 +  (18 * (index_to_pay)));
                    }
                    else if( index_to_pay % 2 == 1)
                    {
                        rng      =  Math.floor(  720 +  (18 * (index_to_pay + 1)));
                    }
                }
            }



            if(wheel_2nd == true)
                rotation = (rng / ps) * ps;
            else
                rotation = (Math.round(rng / ps) * ps);

            picked = Math.round(data.length - (rotation % 360)/ps);
            picked = picked >= data.length ? (picked % data.length) : picked;
            if(oldpick.indexOf(picked) !== -1){
                //d3.select(this).call(spin);
                return;
            } else {
                //oldpick.push(picked);
            }
            rotation += 90 - Math.round(ps/2);
            vis.transition()
                .duration(WheelTime)
                .attrTween("transform", rotTween)
                .each("end", function(){
                    //mark question as seen
                    //d3.select(".slice:nth-child(" + (picked + 1) + ") path")
                        //.attr("fill", "#111");
                    //populate question
                    d3.select("#question h1")
                        .attr("text-anchor", "middle")
                        .text(data[picked].question);
                    oldrotation = rotation;

                    container.on("click", spin);
                });
            console.log("picked :" + picked)
        }
        //make arrow
        svg.append("g")
            .attr("transform", "translate(" + (700 + padding.left + padding.right) + "," + ((h/2)+padding.top) + ")")
            .append("path")
            .attr("d", "M-" + (r*.25) + ",0L0," + (r*.05) + "L0,-" + (r*.05) + "Z")
            .style({"fill":"black"});
        //draw spin circle
        container.append("circle")
            .attr("cx", 0)
            .attr("cy", 0)
            .attr("r", 60)
              .attr("stroke", "black")
  .style("stroke-width", "2px")
  .style("opacity", 1.0)
            .style({"fill":"white","cursor":"pointer"});
        //spin text
        container.append("text")
            .attr("x", 0)
            .attr("y", 15)
            .attr("text-anchor", "middle")
            .text("SPIN")
            .style({"font-weight":"bold", "font-size":"30px"});


        function rotTween(to) {
          var i = d3.interpolate(oldrotation % 360, rotation);
          return function(t) {
            return "rotate(" + i(t) + ")";
          };
        }


    </script>
{% next_button %}
</body>
</html>
        </p>

   <!-- </div>- -->
    <!-- <div class="wrapper instructions"> -->
        <!-- <p> -->
          <!--  {% blocktrans trimmed with n=1 %} -->
               <!-- Hello -->
            <!-- {% endblocktrans %} -->
        <!-- </p> -->


    </div>



{% endblock %}
